<div>
    <h4>Benvenuti al FishBurger - Gusta l'incontro tra mare e hamburger</h4>
    <h5>"Il sapore del mare tra due panini"</h5>
</div>

<h5>Obiettivo:</h5>
<p>offrire ai clienti un'esperienza culinaria unica, 
   combinando il gusto fresco del mare con la comodità di un hamburger</p>
<h5>Aspetti positivi della nostro ristorante:</h5>
<ul>
    <li>Passione per il pesce fresco</li>
    <li>Ambiente accogliente</li>
    <li>Servizio attento</li>
    <li>Eventi speciali</li>
</ul>
<h5>Mascotte</h5>
<img src="https://cdn.discordapp.com/attachments/863913773684621333/1095630713883201566/IMG_5412.png">
<h5>Grazie per averci scelto!</h5>
